:host {
  max-width: 150px;
  min-height: 100%;
  background-color: #cccccc;

  .side-menu {
    display: flex;
    flex-direction: column;

    .menu-item {
      display: flex;
      background-color: #cccccc;
      padding: 10px;

      &.selected {
        background-color: palegreen;
      }
    }
  }
}
