<div class="login">
  <div class="login-container">
    <div class="details-container">
      <div class="details-title">Login</div>
    </div>
    <div class="login-contents">
      <div class="field-row">
        <div class="label">
          <div class="title">Username</div>
        </div>
        <div class="username">
          <input type="text" [(ngModel)]="username"/>
        </div>
      </div>
      <div class="field-row">
        <div class="label">
          <div class="title">Password</div>
        </div>
        <div class="password">
          <input type="password" [(ngModel)]="password"/>
        </div>
      </div>
      <div class="button-container">
        <div class="main-action-button" (click)="loginUser()">
          <div class="label"> login</div>
        </div>
      </div>
    </div>
  </div>
</div>
